@charset "UTF-8";
.container .footer .row .col ul, .container .footer .row .col ul li a {
  list-style: none;
  text-decoration: none;
}

.container .main .flex__rev .main__info .btn {
  width: 120px;
  background-color: #4d4dff;
  color: white;
  border-radius: 9px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container .header .row .navbar .header__logo {
  font-size: 40px;
  text-decoration: none;
  color: #7a7a7a;
  font-weight: bold;
}

.container .header .row .navbar .nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .header .row .navbar .nav .nav__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.container .header .row .navbar .nav .nav__text a {
  margin-left: 15px;
  text-decoration: none;
  color: #7a7a7a;
}

.container .header .row .navbar .nav .nav__text a li {
  list-style: none;
  font-size: 20px;
}

.container .header .row .navbar .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .header .row .navbar .socials .nav__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.container .header .row .navbar .socials .nav__socials .socials__links {
  list-style: none;
  margin-left: 8px;
  font-size: 20px;
  color: #7a7a7a;
}

.container .header .row .navbar .burger__menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .header .row .navbar .burger__menu .burger__line {
  border-radius: 50px;
  margin-bottom: 4px;
  background-color: #7a7a7a;
  width: 50px;
  height: 7px;
  display: none;
}

.container .main .flex__rev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 110px;
}

.container .main .flex__rev .main__foto .img {
  max-width: 100%;
}

.container .footer .row .col ul {
  padding-left: 0;
}

.container .footer .row .col ul li a {
  color: #7a7a7a;
}

.container .footer .row .col .footer__socilas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container .footer .row .col .footer__socilas .socials__footer {
  font-size: 20px;
  padding: 6px;
  border-radius: 50% 50% 50% 0px;
  background-color: #cac9c9;
}

.container .footer .row .col .input__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.container .footer .row .col .input__block .btn {
  height: 30px;
  background-color: #4b37ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px;
  color: white;
}

@media (max-width: 992px) {
  .nav {
    display: none;
    /*Почему бургер не реагирует на медиазапросы*/
  }
  .burger__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */